<h1>Ais Configurations</h1>

<nb-card>
  <nb-card-header>
    Search users AIS configurations by email (min 4 chars) or MMSI (min 4 numbers) You can only search by one type at a
    time:
  </nb-card-header>
  <nb-card-body>
    <nb-form-field>
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input [(ngModel)]="filterEmail" name="filterEmail" type="text" (keyup)="onKeyUpEventEmail($event)" nbInput
        placeholder="Email"
        nbTooltip="Will return all configs by email address, matches partial prefix email addresses (min 4 char) e.g. 'ocea' will return all users whose emails start with 'ocea'"
        nbTooltipStatus="secondary">
    </nb-form-field>
    &nbsp;
    <nb-form-field>
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input [(ngModel)]="filterMmsi" name="filterMmsi" type="text" (keyup)="onKeyUpEventMmsi($event)" nbInput
        placeholder="MMSI"
        nbTooltip="Will return the single most relevant MMSI, padded with 0 up to 9 characters long, e.g. 2080 will search for 208000000"
        nbTooltipStatus="secondary">
    </nb-form-field>
  </nb-card-body>
</nb-card>

<div *ngIf="userIds$ | async; let userIds;">
  <h1>Top {{ resultsLimit }} Results</h1>
  <div *ngFor="let userid of userIds; let userIndex = index;">
    <div *ngIf="userConfigs$ | async; let filteredAllUserConfigs;">
      <ng-container *ngFor="let thisUsersConfigs of filteredAllUserConfigs; let userConfigIndex = index;">
        <div *ngIf="userIndex == userConfigIndex">
          <h3>{{ userid.payload.val().EMAIL || "(No email)"}} ({{ userid.key }})</h3>
          <div *ngIf="(thisUsersConfigs | async)?.length === 0">No configurations found</div>
          <div *ngFor="let config of thisUsersConfigs | async; last as isLast;">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>
                  <ul>
                    <li>
                      Product Name: {{ config.mProductName || "-" }}
                    </li>
                    <li>
                      Product Serial: {{ config.mSerialNumber || "-" }}
                    </li>
                    <li>
                      Product Vendor: {{ config.mMetaData.mVendor || "-" }}
                    </li>
                    <li>
                      MMSI: {{ config.mAISDeviceDataStructure.mMMSI || "-" }}
                    </li>
                  </ul>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <nb-tabset>
                    <nb-tab tabTitle="General">
                      <ul>
                        <li>
                          Product Name: {{ config.mProductName || "-" }}
                        </li>
                        <li>
                          Product Serial: {{ config.mSerialNumber || "-" }}
                        </li>
                        <li>
                          Product Vendor: {{ config.mMetaData.mVendor || "-" }}
                        </li>
                        <li>
                          Product Model: {{ config.mModelNumber || "-" }}
                        </li>
                        <li>
                          Encoded Config: {{ config.encodedConfig || "-" }}
                        </li>
                      </ul>
                    </nb-tab>
                    <nb-tab tabTitle="Configuration">
                      <ul>
                        <li>
                          MMSI: {{ config.mAISDeviceDataStructure.mMMSI || "-" }}
                        </li>
                        <li>
                          Vessel Name: {{ config.mAISDeviceDataStructure.mVesselName || "-" }}
                        </li>
                        <li>
                          Callsign: {{ config.mAISDeviceDataStructure.mCallsign || "-" }}
                        </li>
                        <li>
                          Long Range Mode: {{ config.mAISDeviceDataStructure.mLongRangeModeEnabled || "-" }}
                        </li>
                        <li>
                          External Silent Mode: {{ config.mAISDeviceDataStructure.mExternalSilentModeEnabled || "-" }}
                        </li>
                        <li>
                          Port 1 baud: {{ config.mAISDeviceDataStructure.mPort1BaudRateSetting || "-" }}
                        </li>
                        <li>
                          Port 1 sentence Output: {{ config.mAISDeviceDataStructure.mPort1SentenceSetting || "-" }}
                        </li>
                        <li>
                          Port 2 baud: {{ config.mAISDeviceDataStructure.mPort2BaudRateSetting || "-" }}
                        </li>
                        <li>
                          Port 2 sentence Output: {{ config.mAISDeviceDataStructure.mPort2SentenceSetting || "-" }}
                        </li>
                        <li>
                          Silent Mode: {{ config.mAISDeviceDataStructure.mSilentModeEnabled || "-" }}
                        </li>
                        <li>
                          Vessel Type: {{ config.mAISDeviceDataStructure.mVesselType || "-" }}
                        </li>
                      </ul>
                    </nb-tab>
                    <nb-tab tabTitle="Vessel Dimensions">
                      <ul>
                        <li>
                          Int A: {{ config.mAISDeviceDataStructure.mDimensionIntA || "-" }}
                        </li>
                        <li>
                          Int B: {{ config.mAISDeviceDataStructure.mDimensionIntB || "-" }}
                        </li>
                        <li>
                          Int C: {{ config.mAISDeviceDataStructure.mDimensionIntC || "-" }}
                        </li>
                        <li>
                          Int D: {{ config.mAISDeviceDataStructure.mDimensionIntD || "-" }}
                        </li>
                        <li>
                          Ext A: {{ config.mAISDeviceDataStructure.mDimensionExtA || "-" }}
                        </li>
                        <li>
                          Ext B: {{ config.mAISDeviceDataStructure.mDimensionExtB || "-" }}
                        </li>
                        <li>
                          Ext C: {{ config.mAISDeviceDataStructure.mDimensionExtC || "-" }}
                        </li>
                        <li>
                          Ext D: {{ config.mAISDeviceDataStructure.mDimensionExtD || "-" }}
                        </li>
                      </ul>
                    </nb-tab>
                    <nb-tab tabTitle="WiFi Settings">
                      <ul>
                        <li>
                          WiFi PassPhrase (INF): {{ config.mAISDeviceDataStructure.mWiFiPassPhrase || "-" }}
                        </li>
                        <li>
                          WiFi SSID: {{ config.mAISDeviceDataStructure.mWiFiSSID || "-" }}
                        </li>
                        <li>
                          Generated WiFi Password (AP): {{ config.mMetaData.mGeneratedWifiPassword }}
                        </li>
                      </ul>
                    </nb-tab>
                    <nb-tab tabTitle="MultiPlexing">
                      <ul>
                        <li>
                          WiFi (NMEA0183) Output (On):
                          {{ config.mAISDeviceDataStructure.nmea0183toWiFi.getActive() || "-" }}
                        </li>
                        <li>
                          WiFi (NMEA0183) Output (Off):
                          {{ config.mAISDeviceDataStructure.nmea0183toWiFi.getInactive() || "-" }}
                        </li>
                        <br>
                        <br>
                        <li>
                          NMEA0183 Source (On): {{ config.mAISDeviceDataStructure.n2kToWifi.getActive() || "-" }}
                        </li>
                        <li>
                          NMEA0183 Source (Off): {{ config.mAISDeviceDataStructure.n2kToWifi.getInactive() || "-" }}
                        </li>
                        <br>
                        <br>
                        <li>
                          NMEA2000 Source (On): {{ config.mAISDeviceDataStructure.pgnHelper.getActive() || "-" }}
                        </li>
                        <li>
                          NMEA2000 Source (Off): {{ config.mAISDeviceDataStructure.pgnHelper.getInactive() || "-" }}
                        </li>
                      </ul>
                    </nb-tab>
                    <nb-tab tabTitle="Meta Data">
                      <ul>
                        <li>
                          Product Vendor: {{ config.mMetaData.mVendor }}
                        </li>
                      </ul>
                    </nb-tab>
                  </nb-tabset>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <span *ngIf="!isLast">&nbsp;</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="userIds.length === 0">No results, change email or mmsi</div>
</div>
<ng-template #loading>Loading&hellip;</ng-template>