<nb-card size="small">
  <nb-card-header>
    Search config by email (min 4 chars) or MMSI (min 4 numbers):
      </nb-card-header>
  <nb-card-body>

    <nb-form-field>
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input type="text" (keyup)="onKeyUpEvent($event)" nbInput>
    </nb-form-field>

  </nb-card-body>
</nb-card>

<h1>Darrens config widgets!</h1>
<div *ngIf="userConfigsArray; let userConfigsArray1; else loadingDarren">
  <ul>
    <li *ngFor="let item of userConfigsArray1">
      
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>
            {{ item.mManufacturerID }}
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <nb-tabset>
              <nb-tab tabTitle="Simple Tab #1">
                Tab content 1
              </nb-tab>
              <nb-tab tabTitle="Simple Tab #2">
                Tab content 2
              </nb-tab>
             </nb-tabset>
             
            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
            Originally, nebula was a name for any diffuse astronomical object,
            including galaxies beyond the Milky Way.
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>


      {{ item.mManufacturerID }}
      <!-- <code>{{ item.payload.val().EMAIL }}</code> -->
    </li>
  </ul>
</div>
<ng-template #loadingDarren>Loading Dazza&hellip;</ng-template>

<h1>Firebase widgets!</h1>
<div *ngIf="userIds$ | async; let userIds; else loading">
  <ul>
    <li *ngFor="let item of userIds">
      {{ item.payload.val().text }}
      <code>{{ item.payload.val().EMAIL }}</code>
    </li>
  </ul>
  <div *ngIf="userIds.length === 0">No results, try clearing filters</div>
</div>
<ng-template #loading>Loading&hellip;</ng-template>
<div>
  <h4>Filter by size</h4>
  <button (click)="filterBy('small')">Small</button>
  <button (click)="filterBy('medium')">Medium</button>
  <button (click)="filterBy('large')">Large</button>
  <button (click)="filterBy('x-large')">Extra Large</button>
  <button (click)="filterBy(null)" *ngIf="this.users$.getValue()">
    <em>clear filter</em>
  </button>
</div>

<nb-card>
  <nb-card-body class="example-items-rows">
    <nb-icon icon="power-outline"></nb-icon>
    <nb-icon icon="star"></nb-icon>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body class="example-items-rows">
    <input type="text" nbInput placeholder="Text field">
    <input type="text" nbInput placeholder="Disabled Text field" disabled>
  </nb-card-body>
</nb-card>

<!-- <nb-card size="small">
  <nb-card-body>

    <nb-form-field>
      <input [type]="getInputType()" nbInput>
      <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
        <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                 pack="eva"
                 [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
        </nb-icon>
      </button>
    </nb-form-field>

  </nb-card-body>
</nb-card> -->

<nb-search type="rotate-layout"></nb-search>

<!-- <nb-card >
  <nb-card-header>
User configs
  </nb-card-header>
  <nb-card-body [nbSpinner]="tableDataLoading" nbSpinnerSize="giant" nbSpinnerStatus="warning">
    <div *ngIf="itemsList | async as items">
      <ng2-smart-table [settings]="settings" [source]="items" (custom)="onCustom($event)" ></ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card> -->