<div class="row">
  <nb-card>
    <nb-card-body>Change the firmware for a given product below. Ensure that the version matches exactly the release version thats being rolled out - this will prompt the user to upgrade their firmware when they open the apps.</nb-card-body>
  </nb-card>

  <nb-tabset>
    <nb-tab tabTitle="Simple Tab #1">
      Tab content 1
    </nb-tab>
    <nb-tab tabTitle="Simple Tab #2">
      Tab content 2
    </nb-tab>
   </nb-tabset>

</div>

<div class="row">
  <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
</div>