@import '../../@theme/styles/themes';

table.supportTable {
    border: 1px solid nb-theme(color-basic-100);
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.supportTable td, table.supportTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.supportTable tbody td {
    font-size: 18px;
  }
  table.supportTable tr:nth-child(even) {
    background: nb-theme(color-basic-600);
  }
  table.supportTable tr:nth-child(odd) {
    background: nb-theme(color-basic-700);
  }
  table.supportTable thead {
    background: nb-theme(color-basic-900);
    background: -moz-linear-gradient(top, nb-theme(color-basic-100) 0%, nb-theme(color-basic-500) 66%, nb-theme(color-basic-900) 100%);
    background: -webkit-linear-gradient(top, nb-theme(color-basic-100) 0%, nb-theme(color-basic-500) 66%, nb-theme(color-basic-900) 100%);
    background: linear-gradient(to bottom, nb-theme(color-basic-100) 0%, nb-theme(color-basic-500) 66%, nb-theme(color-basic-900) 100%);
    border-bottom: 2px solid nb-theme(color-primary-400);
  }
  table.supportTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.supportTable thead th:first-child {
    border-left: none;
  }
  
  table.supportTable tfoot td {
    font-size: 14px;
  }
  table.supportTable tfoot .links {
    text-align: right;
  }
  table.supportTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  
input[type="text"], textarea { 
    padding: 0;
    margin: 0;
    width:600px; 
    height:400px;
}