<h1>E100 Support Program</h1>

<nb-tabset>
  <nb-tab tabTitle="Submitted" tabIcon="clipboard-outline" responsive>
    <div *ngIf="supportRequests$ | async as supportRequests;">
      <table class="supportTable">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supportRequest of supportRequests;">
            <th scope="row">{{supportRequest.getId()}}</th>
            <td class="text-center">
            
                {{supportRequest.getReplacementText()}}
                <br>
                <br>
                <div [innerHtml]="supportRequest.getAddress()"></div>
                <br>
                <div *ngIf="supportRequest.isAddressPerm() else notperm">
                  <nb-alert accent="success" class="justify-content-center">Permanent Address</nb-alert>
                </div>
                <ng-template #notperm>
                  <nb-alert accent="warning">supportRequest.getAddressValidRange()</nb-alert>
                </ng-template>
                {{supportRequest.getPhoneNumber()}}
                <br>
                <br>
                <a href="mailto:{{supportRequest.getEmail()}}">{{supportRequest.getEmail()}}</a>
            
            </td>
            <td class="text-center">
              <textarea type="text" maxlength="3000">
              {{supportRequest.status.notes}}
              </textarea> <button nbButton fullWidth status="info">Update Notes</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </nb-tab>
  <nb-tab tabTitle="Authorised" tabIcon="award-outline" responsive>

  </nb-tab>
  <nb-tab tabTitle="Completed" tabIcon="smiling-face-outline" responsive>

  </nb-tab>
</nb-tabset>