<h1>Support Programs</h1>

<nb-tabset>
  <nb-tab tabTitle="Submitted" tabIcon="clipboard-outline" responsive>
    <p>List of <strong>users</strong>.</p>
    <div *ngIf="supportRequests$ | async as supportRequests;">
      {{supportRequests | json}}
      &nbsp;
      Hi my name is 
      &nbsp;

      <table class="blueTable">
        <thead>
          <tr>
            <th> ID </th>
            <th> Details </th>
            <th> Action </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supportRequest of supportRequests;">
            <th scope="row">{{supportRequest.supportRequestInfo.ADDRESS_1}}</th>
            <td>{{supportRequest.supportRequestInfo.ADDRESS_1}}</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>

      <div *ngFor="let supportRequest of supportRequests;">
        &nbsp;
        &nbsp;
        &nbsp;
        {{supportRequest.id}}
        &nbsp;
        &nbsp;
        &nbsp;
      </div>
      &nbsp;
      
      &nbsp;
      Hello

    </div>
  </nb-tab>
  <nb-tab tabTitle="Authorised" tabIcon="award-outline" responsive>
    <p>List of <strong>orders</strong>.</p>

  </nb-tab>
  <nb-tab tabTitle="Completed" tabIcon="smiling-face-outline" responsive>
    <p>List of <strong>transactions</strong>.</p>
  </nb-tab>
</nb-tabset>

<nb-card>
  <nb-card-header>
    Search users AIS configurations by email (min 4 chars) or MMSI (min 4 numbers) You can only search by one type at a time:
  </nb-card-header>
  <nb-card-body>
    <nb-form-field>
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input [(ngModel)]="filterEmail" name="filterEmail" type="text" (keyup)="onKeyUpEventEmail($event)" nbInput placeholder="Email" nbTooltip="Will return all configs by email address, matches partial prefix email addresses (min 4 char) e.g. 'ocea' will return all users whose emails start with 'ocea'" nbTooltipStatus="secondary">
    </nb-form-field>
    &nbsp;
    <nb-form-field>
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input [(ngModel)]="filterMmsi" name="filterMmsi" type="text" (keyup)="onKeyUpEventMmsi($event)" nbInput placeholder="MMSI" nbTooltip="Will return the single most relevant MMSI, padded with 0 up to 9 characters long, e.g. 2080 will search for 208000000" nbTooltipStatus="secondary">
    </nb-form-field>
  </nb-card-body>
</nb-card>

<div *ngIf="userIds$ | async; let userIds;">
  <h1>Top {{ resultsLimit }} Results</h1>
  <div *ngFor="let userid of userIds; let userIndex = index;">
    <div *ngIf="userConfigs$ | async; let filteredAllUserConfigs;">
      <ng-container *ngFor="let thisUsersConfigs of filteredAllUserConfigs; let userConfigIndex = index;">
        <div *ngIf="userIndex == userConfigIndex">
          <h1>{{ userid.payload.val().EMAIL || "(No email)"}} ({{ userid.key }})</h1>
          <div *ngIf="(thisUsersConfigs | async)?.length === 0">No configurations found</div>
          <div *ngFor="let config of thisUsersConfigs | async; last as isLast;">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>
                  <ul>
                    <li>
                      Product Name: {{ config.mProductName || "-" }}
                    </li>
                    <li>
                      Product Serial: {{ config.mSerialNumber || "-" }}
                    </li>
                    <li>
                      Product Vendor: {{ config.mMetaData.mVendor || "-" }}
                    </li>
                    <li>
                      MMSI: {{ config.mAISDeviceDataStructure.mMMSI || "-" }}
                    </li>
                  </ul>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <nb-tabset>
                    <nb-tab tabTitle="General">
                      <ul>
                        <li>
                          Product Name: {{ config.mProductName || "-" }}
                        </li>
                        <li>
                          Product Serial: {{ config.mSerialNumber || "-" }}
                        </li>
                        <li>
                          Product Vendor: {{ config.mMetaData.mVendor || "-" }}
                        </li>
                        <li>
                          Product Model: {{ config.mModelNumber || "-" }}
                        </li>
                        <li>
                          Encoded Config: {{ config.encodedConfig || "-" }}
                        </li>
                      </ul>
                    </nb-tab>
                    <nb-tab tabTitle="Configuration">
                      <ul>
                        <li>
                          MMSI: {{ config.mAISDeviceDataStructure.mMMSI || "-" }}
                        </li>
                        <li>
                          Vessel Name: {{ config.mAISDeviceDataStructure.mVesselName || "-" }}
                        </li>
                        <li>
                          Callsign: {{ config.mAISDeviceDataStructure.mCallsign || "-" }}
                        </li>
                        <li>
                          Long Range Mode: {{ config.mAISDeviceDataStructure.mLongRangeModeEnabled || "-" }}
                        </li>
                        <li>
                          External Silent Mode: {{ config.mAISDeviceDataStructure.mExternalSilentModeEnabled || "-" }}
                        </li>
                        <li>
                          Port 1 baud: {{ config.mAISDeviceDataStructure.mPort1BaudRateSetting || "-" }}
                        </li>
                        <li>
                          Port 1 sentence Output: {{ config.mAISDeviceDataStructure.mPort1SentenceSetting || "-" }}
                        </li>
                        <li>
                          Port 2 baud: {{ config.mAISDeviceDataStructure.mPort2BaudRateSetting || "-" }}
                        </li>
                        <li>
                          Port 2 sentence Output: {{ config.mAISDeviceDataStructure.mPort2SentenceSetting || "-" }}
                        </li>
                        <li>
                          Silent Mode: {{ config.mAISDeviceDataStructure.mSilentModeEnabled || "-" }}
                        </li>
                        <li>
                          Vessel Type: {{ config.mAISDeviceDataStructure.mVesselType || "-" }}
                        </li>
                        <li>
                          WiFi PassPhrase: {{ config.mAISDeviceDataStructure.mWiFiPassPhrase || "-" }}
                        </li>
                        <li>
                          WiFi SSID: {{ config.mAISDeviceDataStructure.mWiFiSSID || "-" }}
                        </li>
                        <li>
                          N2k to NMEA0183: {{ config.mAISDeviceDataStructure.mN2kToNmea0183Flags || "-" }}
                        </li>
                        <li>
                          NMEA0183 to WiFi: {{ config.mAISDeviceDataStructure.mNmea0183ToWiFiFlags || "-" }}
                        </li>
                        <li>
                          PGN Routing: {{ config.mAISDeviceDataStructure.mPgnRoutingFlags || "-" }}
                        </li>
                      </ul>
                    </nb-tab>
                    <nb-tab tabTitle="Vessel Dimensions">
                      <ul>
                        <li>
                          Int A: {{ config.mAISDeviceDataStructure.mDimensionIntA || "-" }}
                        </li>
                        <li>
                          Int B: {{ config.mAISDeviceDataStructure.mDimensionIntB || "-" }}
                        </li>
                        <li>
                          Int C: {{ config.mAISDeviceDataStructure.mDimensionIntC || "-" }}
                        </li>
                        <li>
                          Int D: {{ config.mAISDeviceDataStructure.mDimensionIntD || "-" }}
                        </li>
                        <li>
                          Ext A: {{ config.mAISDeviceDataStructure.mDimensionExtA || "-" }}
                        </li>
                        <li>
                          Ext B: {{ config.mAISDeviceDataStructure.mDimensionExtB || "-" }}
                        </li>
                        <li>
                          Ext C: {{ config.mAISDeviceDataStructure.mDimensionExtC || "-" }}
                        </li>
                        <li>
                          Ext D: {{ config.mAISDeviceDataStructure.mDimensionExtD || "-" }}
                        </li>
                      </ul>
                    </nb-tab>
                    <nb-tab tabTitle="Meta Data">
                      <ul>
                        <li>
                          Product Vendor: {{ config.mMetaData.mVendor }}
                        </li>
                        <li>
                          Generated WiFi Password: {{ config.mMetaData.mGeneratedWifiPassword }}
                        </li>
                      </ul>
                    </nb-tab>
                  </nb-tabset>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <span *ngIf="!isLast">&nbsp;</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="userIds.length === 0">No results, change email or mmsi</div>
</div>
<ng-template #loading>Loading&hellip;</ng-template>

