// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// material themes
@import './material/material-dark';
@import './material/material-light';

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  color-primary-100: #FFF6D1,
  color-primary-200: #FFEAA3,
  color-primary-300: #FFDB75,
  color-primary-400: #FFCD52,
  color-primary-500: #FFB519,
  color-primary-600: #DB9312,
  color-primary-700: #B7750C,
  color-primary-800: #935907,
  color-primary-900: #7A4504,

  color-basic-100: #E7F4F7,
  color-basic-200: #D1E8F0,
  color-basic-300: #A9C6D2,
  color-basic-400: #7D97A5,
  color-basic-500: #485C6A,
  color-basic-600: #34495B,
  color-basic-700: #24374C,
  color-basic-800: #16263D,
  color-basic-900: #0D1B32,

  color-success-100: #E7FBD9,
  color-success-200: #CAF7B5,
  color-success-300: #A1E88C,
  color-success-400: #79D269,
  color-success-500: #45B53D,
  color-success-600: #2C9B2E,
  color-success-700: #1E8228,
  color-success-800: #136823,
  color-success-900: #0B561F,

  color-warning-100: #FDF3CC,
  color-warning-200: #FBE59B,
  color-warning-300: #F3CE68,
  color-warning-400: #E7B641,
  color-warning-500: #D8940A,
  color-warning-600: #B97807,
  color-warning-700: #9B5F05,
  color-warning-800: #7D4803,
  color-warning-900: #673801,
  
  color-danger-100: #FFEBD4,
  color-danger-200: #FFD2AA,
  color-danger-300: #FFB37F,
  color-danger-400: #FF9560,
  color-danger-500: #FF632B,
  color-danger-600: #DB431F,
  color-danger-700: #B72915,
  color-danger-800: #93150D,
  color-danger-900: #7A0809,

  color-info-100: #CFEDFE,
  color-info-200: #9FD7FE,
  color-info-300: #6FBCFE,
  color-info-400: #4CA4FD,
  color-info-500: #117BFC,
  color-info-600: #0C5FD8,
  color-info-700: #0846B5,
  color-info-800: #053192,
  color-info-900: #032278,

  background-basic-color-1: color-basic-700,
  background-basic-color-2: color-basic-800,
  background-basic-color-3: color-basic-900,
  background-basic-color-4: color-basic-100,

  border-basic-color-1: color-basic-600,
  border-basic-color-2: color-basic-700,
  border-basic-color-3: color-basic-800,
  border-basic-color-4: color-basic-900,
  border-basic-color-5: color-basic-100,

  // affects the icons on the menu bar
  menu-item-icon-color: color-basic-200,
  // affects the non clickable menu items headers
  menu-group-text-color: color-basic-200,
  // affects the icons on the header, footer etc
  text-hint-color: color-basic-200,

  // sidebar-text-color: color-basic-200,

  shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),

  text-disabled-color: color-basic-300,

), oceanSignal, dark); // <- theme name and a parent theme

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,
  option-list-border-radius: 0,

  slide-out-background: linear-gradient(270deg, #e0e0e0 0%, #ebebeb 100%),
  slide-out-shadow-color: 0 4px 14px 0 #ebebeb,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #ebebeb,
), material-light, material-light);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,
  option-list-border-radius: 0,

  slide-out-background: linear-gradient(270deg, #1f1f1f 0%, #292929 100%),
  slide-out-shadow-color: 0 4px 14px 0 #292929,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #292929,
), material-dark, material-dark);
